
body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #F3F3E0;
    background-color: #f4f4f9;
}

/* Cabeçalho */
header {
    text-align: center;
    background-color: #666666;
    padding: 20px;
    color: white;
}

.logo {
    width: 150px;
    height: auto;
    margin-left: 20px; 
    margin-top: 20px; 
    float: left;
}

/*Formatação do Tpitulo*/
h1 {
    font-family: 'Oswald', sans-serif; 
    font-size: 68px;
    color: #F3F3E0; 
    text-align: center; 
    margin-top: 20px;
}
/*Outro Texto lá*/
h2 {
    font-size: 30px; 
    color: #444; 
    margin-top: 30px; 
    margin-bottom: 15px;
    padding-left: 10px;

}

/* Banner */
.banner {
    text-align: center;
    background-color: #999999;
    padding: 20px;
    color: white;
}

.banner img {
    max-width: 100%;
    height: auto;
}

/* Texto principal */
main {
    padding: 20 px;
    color: #333333;
}

main h3 {
    color: #666666;
}

/* Rodapé */
footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #333;
    color: white;
    padding: 60px 20px;
}

.footer-esquerda,
.footer-direita {
    flex: 1; 
}

.footer-centro {
    flex: 3; 
    text-align: center; 
}

.footer-esquerda img,
.footer-direita p {
    margin: 5px 0;
}

footer a {
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer .logo {
    width: 300px; /* Ajuste o tamanho da logo */
}

footer .qr-code {
    width: 250px; /* Aumente ou ajuste o tamanho conforme necessário */
    height: auto;
}

footer p {
    margin: 5px 0;
}